/*------------------------------------------------------------------
[11. Page 404]
*/
.error-img {
    display: block;
    margin: auto;
    padding-top: 200px;
    text-align: center;
}

.error-title span {
    display: block;
    font-size: 102px;
    font-weight: 700;
    line-height: 105px;
    text-transform: uppercase;
}

.error-page {
    margin-bottom: 120px;
    margin-top: 120px;
    text-align: left;
}

.error-page .btn-download {
    float: none;
    margin-right: 15px;
}

.error-text {
    color: #6c7988;
    margin-bottom: 24px;
}

@media (max-width: 991px) {
    .error-img {
        padding-top: 50px;
    }

    .error-page {
        margin-bottom: 20px;
        margin-top: 60px;
        text-align: center;
    }
}
