/*------------------------------------------------------------------
[4. About / .about-section]
*/
.about-section h3 {
    margin-bottom: 20px;
}

.about-section .list-info:last-of-type{
    border-bottom: 1px solid rgba(108, 121, 136, 0.1);
}

.about-section .btn-print {
    background-color: #f5f5f5;
    color: #224256;
    margin-top: 15px;
}

.about-section .btn-print:hover {
    background-color: #6c7988;
    color: white;
}

.about-section .btn-download {
    background-color: #6c7988;
    color: #fffefe;
    margin-top: 15px;
}

.about-section .btn-download:hover {
    background-color: #a3c5c3;
    color: white;
}
