/*------------------------------------------------------------------
[5. Resume / .resume-section]
*/
.resume-section {
    background-color: #fafafa;
}

.resume-section .resume-list li {
    color: #6c7988;
    font-size: 16px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 10px;
    padding-left: 22px;
}

.resume-section .resume-list li:before {
    background-color: #6c7988;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 5px;
    left: -20px;
    position: relative;
    top: -3px;
    width: 5px;
}

.skills-block {
    margin-bottom: 50px;
}

@media (max-width: 749px) {
    .resume-section .resume-list {
        margin-top: 24px;
    }
}
