/* ------------------
    Pagination
--------------------*/

.pagination {

  > li {
    > a {
      color: $main-color-theme;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid white;
    }
    &:first-child > a {
      border-radius: 0;
    }
    > a:hover, > a:visited {
      background-color: white;
    }

    > a, > span {
      border: none;
    }

  }

  .active {
    border-bottom: 1px solid $main-color-hover-theme;
    color: $main-color-hover-theme;
    &:hover {
      border-bottom: 1px solid $main-color-theme;
      color: $main-color-theme;
    }
  }

}
