/*-----------------------
    Progress Bar
------------------------*/
.progress-wrapper {
   .progress-bar {
    background-color: $main-color-hover-theme;
    height: 3px;
    box-shadow: none;
  }

  .progress {
    background-color: $second-color;
    height: 3px;
    box-shadow: none;
  }

  .progress-bar-number {
    color: $main-color-theme;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }
}
.skills-block {
  .list-info {
    li{
      border: none;
    }
  }
}